

*:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}

img {
    margin-top:-10px;
}

.event {
    color:#FFFFFF;
    font-size:16px;
    margin:15px 0px 15px 0px;
    padding:10px;
    text-align:center;
    line-height:2em;
    font-weight:bold;
}

.error {
    background-color:#b30d0d;
}

#scan {
    line-height:4em;
}

.geolocation {
    color:#FFFFFF;
    font-size:12px;
    margin:15px 0px 15px 0px;
    padding:10px;
    text-align:center;
    display:none;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}